body {
  overflow-x:hidden;
  margin-left: auto;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td {
  text-align: center;
  /* center checkbox horizontally */
  vertical-align: middle;
  /* center checkbox vertically */
  overflow: auto;

}

table {
  
  word-break: break-word;

}

tr {
  height: 50px;
}

.table-filter{
  width: 30%;
  height: 50px;
}

th {

  text-align: center;
  /* center checkbox horizontally */
  vertical-align: middle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-none {
  display: none
}


.drag-n-drop-area {
  border: 2px black dashed;
  height: 100px;
  width: 80%;
  margin: 0 auto;

}

.drag-n-drop.empty {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-n-drop.hovered {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(201, 236, 252);
}
@media screen and (max-width: 992px) {

.display-none {
  display: none
}

.adm {
  margin-top: 8px;
  margin-left: 0 !important;
}

}

