body {
  overflow-x:hidden;
  margin-left: auto;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.main-container {
  margin-top: 100px;
}

img {
  height: 100%;
  width: 100%;
  max-height: 100px;
  max-width: 100px;
}

.search-results {
  flex: 1;
}

#heart {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.tag-cloud-tag:hover {
  cursor: pointer; 
}


td {
  text-align: center;
  vertical-align: middle;
  overflow: auto;

}

table {
  
  word-break: break-word;

}

tr {
  height: 50px;
}


th {
  word-break: normal;
  text-align: center;
  vertical-align: middle;
}


.table-filter{
  width: 30%;
  height: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wmde-markdown.wmde-markdown-color {
  display: inline-block;
}

.display-none {
  display: none
}


.drag-n-drop-area {
  border: 2px black dashed;
  height: 100px;
  width: 80%;
  margin: 0 auto;

}

.drag-n-drop.empty {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-n-drop.hovered {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(201, 236, 252);
}


.btn-group-vertical {
  margin: 0 auto;
  display: none;
}

.header-button-group {
  margin-bottom: 0;
}

.btn-mobile {
  display: none;
}

.navbar {
  border-bottom: 3px solid #000;
}

.mobile-tip {
  display: none !important;
}

@media screen and (max-width: 992px) {

.display-none {
  display: none
}

.adm {
  margin-top: 8px;
  margin-left: 0 !important;
}

.btn-group {
  display: none;
}

.btn-group-vertical {
  display: block;
  width: 60px;
}

.header-button-group {
  margin-bottom: 0.5rem;
}

.btn-delete {
  content: "X" !important;
}

.btn-desktop {
  display: none;
}

.btn-mobile {
  display: block;
  font-size: 1em;
}

.wmde-markdown.wmde-markdown-color {
  font-size: 0.55rem;
}

.mobile-tip {
  display: block !important;
}

#collection-table {
  font-size: 0.5em;
}

}